node_modules
build
dist
.react-router
.turbo
coverage
pnpm-lock.yaml
cypress/videos
cypress/screenshots
**/storybook-static
**/playwright-report
**/test-results
**/tsconfig.bisect*.json
packages/ai-context/src/generated/**
