*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  @apply bg-background font-sans text-foreground leading-normal;
}

form {
  @apply my-4 grid gap-3;
}

input,
button {
  @apply rounded-md border border-border p-2 font-[inherit];
}

button:not([data-overlay-backdrop]) {
  @apply cursor-pointer;
}

form button {
  @apply w-fit;
}

button:disabled {
  @apply cursor-not-allowed opacity-60;
}
