API_HOST=0.0.0.0
API_PORT=3000
GCP_PROJECT_ID=demo-project-base
FIREBASE_AUTH_EMULATOR_HOST=127.0.0.1:9099
FIREBASE_STORAGE_EMULATOR_HOST=127.0.0.1:9199
GCP_STORAGE_BUCKET=demo-project-base.appspot.com
PLATFORM_BOOTSTRAP_SUPERADMIN_EMAILS=
TENANT_ENCRYPTION_MASTER_KEY=
